:root {
  max-width: 1400px;
  margin: 0 auto;
  background: #ecf9ff;
  font-family: "Nunito", sans-serif;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  line-height: inherit;
  background: #ecf9ff;
  color: #01030c;
}

* {
  margin: 0;
  padding: 0;
  color: #080808;
}
